{% extends 'home.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block main_body %}
<div class="article-edit">
    <h1>Edit Article</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
</div>
{% endblock %}