{% extends 'home.html.twig' %}

{% block title %}New Article{% endblock %}

{% block main_body %}
<h1>Create New Article</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Save</button>
{{ form_end(form) }}
{% endblock %}